<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.lww.sparrow.task.dal.JobInfoMapper">
    <sql id="baseColumn">
        id,
        job_name as jobName,
        retry_count as retryCount,
        time_expression as timeExpression,
        submit_ip as submitIp,
        execute_url as executeUrl,
        execute_date as executeDate,
        is_valid as isValid,
        create_date as createDate,
        update_date AS updateDate
    </sql>

    <resultMap id="jobInfoResultMap" type="com.lww.sparrow.task.domain.entity.JobInfo">
        <id column="id" property="id"/>
        <result column="job_name"  property="jobName"/>
        <result column="retry_count"  property="retryCount"/>
        <result column="time_expression"  property="timeExpression"/>
        <result column="submit_ip"  property="submitIp"/>
        <result column="execute_url"  property="executeUrl"/>
        <result column="execute_date"  property="executeDate"/>
        <result column="is_valid"  property="isValid"/>
        <result column="create_date"  property="createDate"/>
        <result column="update_date"  property="updateDate"/>
    </resultMap>

    <!-- insert -->
    <insert id="insert" parameterType="JobInfo">
  	<![CDATA[
	  	INSERT INTO job_info(
	  		job_name, retry_count, time_expression, submit_ip,
	  		execute_url, execute_date, is_valid
	  	)VALUES(
	  		#{jobName}, #{retryCount}, #{timeExpression}, #{submitIp}, #{executeUrl},
	  		#{executeDate},
	  		#{isValid}
	  	)
  	]]>
        <selectKey resultType="long" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <!-- update -->
    <update id="updateExecuteDateById">
        UPDATE job_info
        SET execute_date=#{executeDate}
        WHERE id = #{id}
    </update>

    <update id="updateIsValidById">
        UPDATE job_info
        SET is_valid = #{isValid}
        WHERE id = #{id}
    </update>

    <update id="updateById" parameterType="JobInfo">
        UPDATE job_info SET
        job_name = #{jobName},
        retry_count as retryCount,
        time_expression as timeExpression,
        submit_ip as submitIp,
        execute_url as executeUrl,
        execute_date as executeDate,
        is_valid as isValid
        WHERE id = #{id}
    </update>


    <!-- select -->
    <select id="getById" parameterType="long" resultType="JobInfo">
        SELECT
        <include refid="baseColumn" />
        FROM job_info
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="JobInfo">
        SELECT
        <include refid="baseColumn" />
        FROM job_info
    </select>

    <select id="findByApp" parameterType="String" resultType="JobInfo">
        SELECT
        <include refid="baseColumn" />
        FROM job_info
        WHERE business_name = #{app}
    </select>

    <select id="queryByUntilDateAndBatch" resultType="JobInfo">
        SELECT
        <include refid="baseColumn" />
        FROM job_info
        WHERE execute_date<![CDATA[<=]]>#{untilDate}
        AND is_valid=1
        LIMIT #{limit}
    </select>

    <!-- resultType="JobInfo"-->
    <select id="scanJob" resultMap="jobInfoResultMap">
        SELECT *
        <!--<include refid="baseColumn" />-->
        FROM job_info
        WHERE execute_date<![CDATA[>]]>#{startDate}
        AND execute_date<![CDATA[<=]]>#{nowDate}
        AND is_valid=1
        ORDER BY execute_date
        LIMIT #{limit}
    </select>

    <select id="findNextExecuteTime" parameterType="date" resultType="date">
        SELECT execute_date
        FROM job_info
        WHERE execute_date<![CDATA[>]]>#{startDate}
        AND is_valid=1
        ORDER BY execute_date
        LIMIT 1
    </select>

    <select id="queryUnFinishJobInfo" resultType="JobInfo">
        SELECT
        <include refid="baseColumn" />
        FROM job_info
        <![CDATA[ WHERE is_valid = 1 AND execute_date < now()-interval 900 second
        ]]>
        LIMIT 100
    </select>
</mapper>